@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Sanjaykumar Sharma<br />
    Pune, India<br />
</address>

<address>
    <strong>Personal Email/ Skype ID:</strong>   <a href="mailto:sanjay.sharma1806@outlook.com">Sanjay.Sharma1806@outlook.com</a><br />
</address>