@{
    ViewBag.Title = "Beer wikipedia";
}

<div class="jumbotron">
    <h1>Beer Wiki</h1>
    <p class="lead">This is a free web framework for everyone to search about the Beer. Get all the information about your favourite Beer.</p>
    <p><a href="@Url.Action("BeerGridList", "Home")" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>